<meta charset="UTF-8">
<meta none="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<header>
    <div class="container">
        <h1 style="font-size: 36px; text-align: center;">Recibo de Pago Docente</h1>
        <p style="text-align: center; font-size: 14px;">Examen Corte 2</p>
    </div>
</header>

<style>
    header {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        margin: 0;
    }
</style>
