<nav style="display: flex; justify-content: center; border: 2px solid #000;">
    <div style="display: flex;">
        <a style="margin-right: 20px;" class="nav-link" href="/Docentes">Docentes</a>
        <a style="margin-right: 20px;" class="nav-link" href="/Cursos">Cursos</a>
        <a class="nav-link" href="/Contactos">Contactos</a>
    </div>
</nav>