<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibos de pagos para docentes</title>
</head>
<body>
    
<%-include('partials/header.ejs')%>

<%-include('partials/nav.ejs')%>

<div class="formulario">

    <div class="formularioDocs">

<form id="formularioDocs" action="/" method="post">
    <label for="">Num. Docente</label> <br>
    <input type="number" name="numeroDocente" id="numeroDocente" required value=<%=numeroDocente%>> <br>
    <label for="">Nombre</label> <br>
    <input type="text" name="nombre" id="nombre" required value=<%=nombre%>> <br>
    <label for="">Domicilio</label> <br>
    <input type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>> <br>
    <label for="">Nivel</label> <br>
    <select name="nivel" id="nivel" value="<%=nivel%>">
        <option value="1">Licenciatura o Ingeniería</option>
        <option value="2">Maestro en Ciencias</option>
        <option value="3">Doctor</option>
    </select> <br>
    <label for="">Pago Hora Base</label><br>
    <input type="text" name="PHB" id="PHB" required value=<%=PHB%>> <br>
    <label for="">Horas impartidas</label><br>
    <input type="text" name="horasImpartidas" id="horasImpartidas" required value=<%=horasImpartidas%>> <br>
    <select name="hijos" id="hijos" value="<%=hijos%>">
        <option value="0">Seleccione el Numero de hijos</option>
        <option value="1">1 o 2</option>
        <option value="2">3 o 5</option>
        <option value="3">Mas de 5</option>
    </select><br>
    

    <button class="btn btn-primary mt-3" type="submit">Calcular</button> <br>
    <a class="btn btn-primary mt-3"  id="limpiar" onclick="limpiarForm()">Limpiar</a>
</form>

</div>

</div>

<%
let pago = 0.00;

if(nivel == 1){
    pago = PHB*1.3;
    pago = pago * horasImpartidas;
}
else if(nivel == 2){
    pago = PHB*1.5;
    pago = pago * horasImpartidas;
}
else if(nivel == 3){
    pago = PHB*2;
    pago = pago * horasImpartidas;
}

let impuesto = pago * 0.16;

let bono = 0;

if (hijos == 1 || hijos == 2) {
    bono = pago * 0.05;
}else if (hijos > 2 && hijos <= 5) {
    bono = pago * 0.1;
}
else if(hijos <= 5){
    bono = pago * 0.2;
}

let total = pago + bono - impuesto;

%>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Nombre</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Nivel</th>
        <th scope="col">Pago Hora Base</th>
        <th scope="col">Horas impartidas</th>
        <th scope="col">Hijos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= numeroDocente %></td>
        <td><%= nombre %></td>
        <td><%= domicilio %></td>
        <td><%= nivel %></td>
        <td><%= PHB %></td>
        <td><%= horasImpartidas %></td>
        <td><%= hijos %></td>
      </tr>
    </tbody>
  </table>

    <div class="results">
    <h2>Detalles del pago</h2>
    <h4 id="pago">Pago por horas impartidas: $<%=pago%></h1>
    <h4 id="bono">Pago por Bono: $<%=bono%></h4>
    <h4 id="impuestos">Impuestos: $<%=impuesto%></h4>
    <h4 id="totalPagar">Total a pagar: $<%=total%></h4>
    </div>
<%
%>
<%-include('partials/footer.ejs')%>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }
    .formulario {
        margin: 50px auto;
        max-width: 600px;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 2px solid #000;
    }
    .seccion {
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 9px;
        width: 70%;
        box-sizing: border-box;
    }
    input, select {
        margin: 10px auto;
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button, a {
        display: block;
        margin: 10px auto;
        width: calc(100% - 20px);
        padding: 10px;
        text-align: center;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        box-sizing: border-box;
    }
    button:hover, a:hover {
        background-color: #0056b3;
    }
    .results {
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
        background-color: bisque;
        text-align: center;
        border: 2px solid #000;
        margin-bottom: 20px; 
        margin-left: 30px;
        margin-right: 30px;
    }
    .table{
         border: 2px solid #000;
         margin-top: 20px;
    }
</style>
</body>
<script>
  function limpiarForm() {
  document.getElementById("numeroDocente").value = "";
  document.getElementById("nombre").value = "";
  document.getElementById("domicilio").value = "";
  document.getElementById("nivel").selectedIndex = 0; 
  document.getElementById("PHB").value = "";
  document.getElementById("horasImpartidas").value = "";
  document.getElementById("hijos").selectedIndex = 0;
  document.getElementById("pago").textContent = "Pago por horas impartidas: $0.00";
  document.getElementById("bono").textContent = "Pago por Bono: $0.00";
  document.getElementById("impuestos").textContent = "Impuestos: $0.00";
  document.getElementById("totalPagar").textContent = "Total a pagar: $0.00";
    }
  </script>

</html>
